.collection-view-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 0.8rem;
}
.collection-view-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .collection-view-up {
        grid-template-columns: 1fr;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        gap: 0.4rem;
    }
}
